  body {
  	background-color: rgba(17, 22, 47);
    color:white;
  }
  h1 {
    font-size:50px
    color:white;
  }

  p {
    font-size:25px
    color:white;
  }
  .beach-img {
  	width:300px;
    display:block;
    margin:0 auto;
    margin-bottom:3px;
       
  }
  	.breathing-img{
  		  	width:300px;
    display:block;
    margin:0 auto;
    margin-bottom:2px;
  		
  	}
  .med-img{
  	width:300px;
    display:block;
    margin:0 auto;
    margin-bottom:9px;
  }

  .page{
    display:none;
  }
  .page:target{
    display: block;
  }
  #study {background: white;}
  background-image: url('https://mobeforlife.lon1.digitaloceanspaces.com/general/DeepBreathingBlog_Infographic_R01.jpg')
  .navbar ul{
  	list-style-type:none;
    padding: 0px;
    margin:0px;
    overflow: hidden;
  }
  .navbar a{
  	color: white;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
  	background-color: white; 
    color:black;
  }
  .navbar li{
  	float: left;
    font-family:cursive;
    text-color:white;
  }      
