
  body {
	background-color:lightseagreen;
}

  a {
	  font-size:5px
  }

  h1 {
  	color:white;
    font-family:Snell Roundhand;
    font-size:80px;
  }
  
  .h1 {
  	display:flex;
    justify-content:center;
    align-items:center;
  }
