  body {
  	min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .container {
  	display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:32px;
    color:black;
    background-color:lightgray;
    padding:64px 48px;
    border-radius:32px;
  }
  .title{
  	font size:32px;
  }
  hr{
  	width:100%;
    background-color: white;
    height:5px;
    border-radius: 16px;
    border:none;
  }
  .timer{
  	font-size: 160px;
    font-weight: 700;
    gap: 16px;
  }
  button{
  	font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    border:solid 2px;
    border-radius:6px;
    padding:8px 24px;
  }
  button:hover{
  	transform: translateY(-10px);
  }
  
  button:ac
  
  #start{
  	background-color:green;
  }
