 h1{
  	text-align: center;
  }
  .navbar ul{
  	list-style-type:none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin:0px;
    overflow: hidden;
  }
  .navbar a{
  	color: white;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
  	background-color: black; 
  }
  .navbar li{
  	float: left;
  }
  
  body {
  	background-color:antiquewhite;
  }
  
  h1 {
  	font-family:Snell Roundhand;
  }
  
  p {
  	font-family:cursive;
    text-align:center;
    font-size:35px;
  }
  
  .beach-img {
  	width:700px;
    display:block;
    margin:0 auto;
    margin-bottom:6px;
  }
